@{
    ViewData["Title"] = "Registro Covid";
}

<div class="text-center">
    <h1 class="display-4">Registo de Covid</h1>
    <h2>El siguiente formulario es para llevar el registro de casos reportados de</h2>
    <h2>Covid por departamento y genero</h2>
</div>

@*
@{
    IEnumerable<string> strlist = new List<string> { "Ahuachapán, Cabañas, Chalatenango, Cuscatlán, La Libertad, La Paz, La Unión, Morazán, San Miguel, San Salvador, San Vicente, Santa Ana, Sonsonate, Usulután" };
}
@Html.DropDownList("departametos", new SelectList(strlist, strlist.FirstOrDefault()), "seleccione un departamento")
*@
