@{
    ViewData["Title"] = "Registro Covid";
}

<div class="text-center">
    <h1 class="display-4">Registo de Covid</h1>
    <h2>El siguiente formulario es para llevar el registro de casos reportados de</h2>
    <h2>Covid por departamento y genero</h2>
</div>
<form>
    <h3>Reportar Casos</h3>
    <div class="col-sm-4">
        @Html.DropDownList("Iddepartamento", ViewData["listadoDepartamentos"] as SelectList, "Seleccione un departamento...", new {@class="form-control"})
    </div>
    <table>
        <thead>
            <tr>
                <th>Departamento</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var equipo in (IEnumerable<dynamic>)ViewData["listadoDepartamentos"])
            {
                <tr>
                    <td>@equipo.Departamentos</td>
                    <td>@equipo.Nombre</td>
                </tr>
            }
        </tbody>
    </table>
</form>

