@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Registro Covid";
}

<div class="text-center">
    <h1 class="display-4">Registo de Covid</h1>
    <h2>El siguiente formulario es para llevar el registro de casos reportados de</h2>
    <h2>Covid por departamento y genero</h2>
</div>

